/* 
	Design: ArsArts (arsarts@yandex.ru)
	HTML/CSS coding: SaD (im-sad@yandex.ru)

	Main styles
 */


#noscript {background:#C83131;color:white;width:100%;padding:10px 0;text-align:center;font-size:2em;}

/* MAIN */
#wrapper {width:1000px;margin:0 auto;min-height:100%;height:auto !important;	height:100%;}
#middle {width:100%;padding:146px 0 100px;height:1%;position:relative;}
#middle:after {content:'.';display:block;clear:both;visibility:hidden;height:0;}
#container {width:100%;float:left;overflow:hidden;background:url("http://cdn.php-null.org/static/content.png") no-repeat -655px bottom;}
#content {padding:0 335px 10px 0;margin:0 0 10px 0;background:url("http://cdn.php-null.org/static/content.png") repeat-y -1657px 0;}

/* HEADER */
#header {width:100%;height:146px;font-size:1.1em;background:url("http://cdn.php-null.org/static/panels.png") repeat-x 0 -59px;position:absolute;z-index:9;zoom:1}
.headerContent{width:1000px;margin:0 auto;}

	.menu {height:46px;width:100%;overflow:hidden;text-transform:uppercase;}
	.menuCategory{width:600px;float:left;}
	.menuLogin {float:right;}
	.menuCategory, .menuLogin {height:46px;background:url("http://cdn.php-null.org/static/menu.png") no-repeat top left;padding-left:2px;overflow:hidden;}
	.menuCategory li, .menuLogin li {float:left;background:url("http://cdn.php-null.org/static/menu.png") no-repeat top right;}
	.menuCategory li a, .menuLogin li a {color:#484848;display:block;height:28px;padding:18px 10px 0 10px;margin-right:2px;}
	.menuCategory li a:hover, .menuLogin li a:hover, #catActive{text-decoration:none;color:#c73030;background:#ebebeb url("http://cdn.php-null.org/static/menu.png") repeat-x bottom;}
	#helloUser {height:28px;padding:18px 10px 0 10px;text-transform:none;} #helloUser b{color:#c73030;}
	
	.logoPanel {height:70px;padding:15px 0;}
	.logotype{float:left;height:59px;width:214px;text-indent:-9999px;margin-top:12px;}
	.logotype a{display:block;height:59px;width:214px;background:url("http://cdn.php-null.org/static/logotype.png") no-repeat;overflow:hidden;}
	.banner {float:right;background:url("http://cdn.php-null.org/static/bannerBG.png");width:473px;height:65px;padding:5px 0 0 5px;}

/* LOGIN */
.window {display:none;}
.popup {text-align:left;background:#d8d8d8 url("http://cdn.php-null.org/static/arsarts.png") repeat-x 0 -57px;}

	.popupHead {padding:0 14px 0 19px;overflow:hidden;height:59px;background:url("http://cdn.php-null.org/static/logotype.png") no-repeat 0 -59px;}
		.popupClose {float:right;color:#5a5a5a;font-size:2.5em;margin-top:10px;background:url("http://cdn.php-null.org/static/close.png") top;width:26px;height:26px;display:block;}
		.popupClose:hover{text-decoration:none;background-position:bottom;}

	.popupBody {padding:10px 20px 15px 20px;font-size:1.1em;overflow:hidden;} .popupBody a{color:#494949;}
		.popupBody .userAvatar {float:left;margin-right:20px;}
		.popupBody .userPanel {float:left;overflow:hidden;}
		.popupBody .userPanel ul li{padding-bottom:0.6em;}

	.authorizations {margin:0 0 0 40px;width:201px;}
	.authorizations li{margin-bottom:8px;}
	.lostPassword {width:110px;float:left;}
	.lostPassword li, .topnews li {padding:0 0 0 8px;background:url("http://cdn.php-null.org/static/rarr.gif") no-repeat left center;margin-bottom:5px;text-align:left;}


/* SIDEBAR */
#sideRight {float:left;margin-right:-3px;width:340px;margin-left:-340px;position:relative;}

.block {background:#fff url("http://cdn.php-null.org/static/block.png") no-repeat bottom right;width:316px;margin:0 0 15px 24px;padding:0 0 10px 0;}
	.blockTitle {font-size:1.70em;font-weight:normal;padding:15px 10px 10px 10px;background:url("http://cdn.php-null.org/static/block.png") no-repeat top left;text-transform:uppercase;}
	.blockTitle span{color:#cd3333;}
	.blockContent {padding:0 10px;line-height:1.4em;overflow:hidden;}

.category li{background:#555;margin-top:5px;}
.category li a, .fullLink a, .fbutton{font-weight:bold;font-size:1.1em;display:block;height:29px;width:100%;color:#fff;font-weight:bold;background:url("http://cdn.php-null.org/static/cat.png") no-repeat top right;cursor:pointer;}
.category li a:hover, .fbutton:hover{text-decoration:none;background:#787878 url("http://cdn.php-null.org/static/cat.png") no-repeat 100% -29px;}
.category li a span, .fullLink  a span, .fbutton span {display:block;height:23px;background:url("http://cdn.php-null.org/static/catLeft.png") no-repeat top left;vertical-align:bottom;padding:6px 15px 0 15px;}
.category li a:hover span, .fbutton:hover span{background:url("http://cdn.php-null.org/static/catLeft.png") no-repeat 0% -29px;}
	.red a, .fullLink a{background-position:100% -58px !important;}
	.red a span, .fullLink  a span{background-position:0% -58px !important;}
	.red a:hover, .fullLink a:hover {background-position:100% 100% !important;}
	.red a:hover span, .fullLink a:hover span{background-position:0% 100% !important;}

	.subCategory {margin-left:10px;display:none;}
	.subCategory li{padding:0 0 0 8px;background:url("http://cdn.php-null.org/static/rarr.gif") no-repeat left center;margin-bottom:5px;text-align:left;}
	.subCategory li a{background:none;color:#C73030;display:inline;height:auto;width:auto;font-weight:normal;}
	.subCategory li a:hover{background:none;text-decoration:underline;}

.archives {padding-left:15px;color:#545454;font-weight:bold;} .archives:hover {color:#c73030;}

.search li{float:left;zoom:1;}
#story, #login_name, #login_password {background:url("http://cdn.php-null.org/static/searchField.png");width:181px;height:29px;border:none;color:#aaa;padding:0 10px;line-height:31px;}
#searchSend {margin-left:4px;background:url("http://cdn.php-null.org/static/cat.png") no-repeat top right;width:90px;height:29px;}
#searchSend input{color:#fff;background:url("http://cdn.php-null.org/static/catLeft.png") no-repeat top left;border:none;height:29px;width:100%;text-align:center;font-weight:bold;letter-spacing:0.1em;cursor:pointer;}
#searchSend:hover {background-position:100% -29px;}
#searchSend:hover input{background-position:0% -29px;}

#vote-layer {background:url("http://cdn.php-null.org/static/voteTitle.png") no-repeat left top;padding:5px 0 0 0;width:293px;}
	.voteTitle {background:url("http://cdn.php-null.org/static/voteTitle.png") repeat-y -293px 0;color:#fff;font-weight:bold;font-size:1.05em;padding:3px 10px }
	.voteContent {background:url("http://cdn.php-null.org/static/voteTitle.png") no-repeat right top;width:100%;padding:15px 0;font-size:1.05em;}
	#dle-vote {padding-bottom:10px;}
	#dle-vote .vote {padding:2px 10px;}
	.votesNum {font-size:0.9em;margin-left:10px;}

.tags {text-align:center;color:#545454;}.tags a{color:#545454;}
	.clouds_xsmall {font-size:1em;}
	.clouds_small {font-size:1.1em;}
	.clouds_medium {font-size:1.2em;font-weight:bold;}
	.clouds_large {font-size:1.5em;}
	.clouds_xlarge {font-size:1.7em;}

.informer {margin:0 0 5px 0;}


/* CONTENT */
.contentOptions {background:url("http://cdn.php-null.org/static/content.png") no-repeat 13px 0;padding:20px 30px 15px 30px;font-size:1.1em;line-height:1.3em;}

.news, .static{background:url("http://cdn.php-null.org/static/labels.png") no-repeat -666px -10px;padding:6px 0 0 0;margin-bottom:30px;}
	.newsTitle {background:url("http://cdn.php-null.org/static/labels.png") repeat-y -1333px 0;color:#fff;padding:8px 50px 8px 15px;font-size:2.2em;font-weight:normal;}
	.newsTitle a{color:#fff;}
	.newsTitle a:hover{color:#ccc;text-decoration:none;}
	.newsInfo, .staticContent, .baseform {padding:20px 24px 0 30px;min-height:20px;background:url("http://cdn.php-null.org/static/labels.png") no-repeat top left;font-size:1.14em;line-height:1.4em;}
		.newsInfo li{float:left;padding:0 10px 10px 0;}
		.newsInfo li a:hover{text-decoration:none;color:#545454;}
		.newsInfo li span a{text-decoration:underline;}
	.sepNews {margin-left:13px;margin-right:0px;height:1px;border:none;color:#D6D6D6;background:#D6D6D6;clear:both;}
	.newsContent {padding:0 25px 0 30px;font-size:1.14em;line-height:1.4em;}
	.newsActions {margin:10px 0 0 0;padding:10px 0 ;}
	.newsActions li{float:left;}
	.ratingBox {width:520px;padding:5px 5px 0 0;}
		.fullLink a{float:right;width:85px;font-weight:normal;font-size:1em;position:absolute;}
		.fullLink a:hover {text-decoration:none;}

.editInfo {text-align:right;margin-top:10px;padding:5px;border-top:1px dashed #D6D6D6;border-bottom:1px dashed #D6D6D6;}

.relatedNews {background:#545454;margin:0 0 15px 13px;padding:20px 20px 20px 20px;font-size:1.1em;border-top:5px solid #828282;border-bottom:1px solid #333;line-height:1.4em;}
.relatedNews h3{color:#828282;margin-bottom:5px;font-size:1.4em;font-weight:normal;}
.relatedList {margin-left:10px;}
.relatedList li a{color:#fff;}

.comment {margin:0 0 10px 13px;min-height:120px;background:url("http://cdn.php-null.org/static/commentBG.gif") repeat-y top left;overflow:hidden;}
	.authorFoto {float:left;padding:14px;}
	.authorFoto img{width:100px;}
	.commentContent {background:url("http://cdn.php-null.org/static/commentQ.gif") no-repeat left 15px;overflow:hidden;padding:10px;font-size:1.1em;}
	.commentInfo {min-height:15px;}
	.commentInfo li{float:left;margin-right:10px;}
	.commentInfo b{color:#c73030;font-weight:normal;}
	.commentText {padding-top:10px;line-height:1.2em;min-height:80px;}
	.comOptions {visibility:hidden;text-align:right;font-weight:bold;margin-top:10px;font-size:0.9em;}
	.comOptions a{color:#545454;padding-left:5px;} .comOptions a:hover{color:#c73030;}

.commentAdd {display:block;color:#fff;background:url("http://cdn.php-null.org/static/catLeft.png") no-repeat top left;border:none;height:20px;width:200px;text-align:center;font-weight:bold;cursor:pointer;text-transform:uppercase;padding-top:9px;}
.commentAdd:hover {text-decoration:none;background-position:0% -29px;}


/* NAVIGATION */
.navigation {font-size:1.1em;margin:20px 0 10px 0;padding:0 25px 0 30px;overflow:hidden;}

.pagesList {float:left;height:18px;}
	.pagesList a, .pagesList span{color:#545454;font-weight:bold;padding:3px 6px 2px 6px;height:13px;display:inline-block;} 
	.pagesList a:hover{color:#fff;background:#5F5F5F;text-decoration:none;}
	.pagesList span{background:#c73030;color:#fff;}

.turn {float:right;width:43px;} .turnLeft {float:left;} .turnRight {float:right;}
	.turnRight a, .turnLeft a, .turnRight span, .turnLeft span{display:block;width:20px;height:18px;padding:0;text-indent:-9999px;background:#c73030 url('http://i.php-null.org/pics/nav.gif') no-repeat;}
	.turnRight a, .turnRight span{background-position:7px -12px;margin-left:3px;}
	.turnLeft a, .turnLeft span{background-position:7px 4px;}
	.turnLeft span, .turnRight span, .turnRight a:hover, .turnLeft a:hover{background-color:#5F5F5F;}


/* FOOTER */
#footer {width:100%;margin:-59px auto 0;height:59px;background:#e0e0e0 url("http://cdn.php-null.org/static/panels.png") repeat-x;font-size:1.1em;z-index:3;position:relative;}
.footerContent {width:900px;height:59px;margin:0 auto;background:url("http://cdn.php-null.org/static/arsarts.png") no-repeat right 1px;padding:0 100px 0 0;}

	.copyright {width:500px;float:left;margin-top:15px;font-weight:bold;}
	.copyright i{display:block;font-weight:normal;font-style:normal;padding-top:0.5em;}

	.counts {float:right;margin:15px 0 0 0;}
	.counts li{float:left;margin:0 0 0 5px;}


/* OTHER */

/* статические страницы */
.static {margin-bottom:10px;}
.staticNum {padding:5px 25px 0 30px;font-size:1.1em;font-weight:bold;}

/* ошибки */
.alert {background:#545454 url("http://cdn.php-null.org/static/alert.png") no-repeat 10px 20px;color:#fff;margin:0 0 15px 13px;padding:20px 20px 20px 70px;font-size:1.15em;border-top:5px solid #828282;border-bottom:1px solid #333;line-height:1.2em;}
.alert b{padding:0 0 8px 0;font-size:1.1em;display:block;}
.alert  a {color:#fff;font-weight:bold;text-decoration:underline;} .alert  a:hover {text-decoration:none;}

/* второстепенные страницы */
.baseform {}
.tableform {width:100%;}
	.tableform tr{}
	.tableform tr td{padding:10px 0;border-bottom:1px dashed #D6D6D6;}
	.tableform tr .label{width:170px;}
	.fieldsubmit {padding-top:20px;overflow:hidden;}

/* формы второстепенных страниц */
.impot {color:#C73030;font-weight:bold;}
.f_input, .f_textarea, .sec_input, .xfields input, .xprofile input, .xfields textarea, .xprofile textarea, #comments {border:1px solid #D5D5D5;background:url("../images/input.gif") repeat-x top left;color:#545454;}
.xfields textarea, .xprofile textarea, .f_textarea, #comments {padding:5px 0;}
.f_input, .xfields input, .xprofile input{height:22px;line-height:22px;width:150px;color:#545454;padding:0 5px !important;}
.sec_input {width:150px;height:48px;float:left;margin-left:10px;font-size:2.5em;text-align:center;color:#545454;}
.captcha {float:left;}

/* кнопки второстепенных страниц */
.button{margin-left:4px;background:url("http://cdn.php-null.org/static/cat.png") no-repeat top right;height:29px;width:90px;}
.button input{color:#fff;background:url("http://cdn.php-null.org/static/catLeft.png") no-repeat top left;border:none;height:29px;width:90px;text-align:center;font-weight:bold;cursor:pointer;}
.button:hover {background-position:100% -29px;}
.button:hover input{background-position:0% -29px;}

.buttonReds {margin-left:4px;background:url("http://cdn.php-null.org/static/cat.png") no-repeat 100% -58px;height:29px;width:90px;}
.buttonReds input{color:#fff;background:url("http://cdn.php-null.org/static/catLeft.png") no-repeat 0 -58px;border:none;height:29px;width:90px;text-align:center;font-weight:bold;cursor:pointer;}
.buttonReds:hover {background-position:100% 100% !important;}
.buttonReds:hover input {background-position:0 100% !important;}

/* добавление новостей */
#category {height:150px !important;width:410px !important;border:1px solid #D5D5D5;}
.xfields textarea, .xprofile textarea {width:98%;height:80px;padding:0;}
#short_story, #full_story, .xfields textarea, .xprofile textarea {margin-top:2px;resize:vertical;}
#admintag input{margin:0 5px 0 0;}

	.ui-autocomplete {position:absolute;cursor:default;}
	.ui-menu {list-style:none;padding:2px;margin:0;display:block;float:left;}
	.ui-menu .ui-menu {margin-top:-3px;}
	.ui-menu .ui-menu-item {margin:0;padding:0;float:left;clear:left;width:100%;}
	.ui-menu .ui-menu-item a {text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;}
	.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {font-weight:normal;margin:-1px;}

/* регистрация */
.registrationRules {padding:0 0 10px 0;border-bottom:1px dashed #D6D6D6;}
.registrationRules p{margin-bottom:5px;}
.registrationRules b{display:block;}

/* расширенный поиск */
.searchtable {margin-left:-10px;padding-bottom:10px;}
.searchMsg {font-weight:bold;border-top:1px solid #D6D6D6;padding:5px 0;}
#searchinput {border:1px solid #ccc;padding:2px 5px;}
.searchShort {margin:0 0 10px 13px;padding:10px;border-bottom:1px solid #D6D6D6;}
#fullsearch{margin-left:10px;}
.search fieldset {border:1px solid #eee;padding:5px;text-align:left;margin-right:5px !important;}
.search fieldset legend{font-weight:bold;}

/* статистика сайта */
.statistics {overflow:hidden;}
.statistics .column{float:left;width:33%;}
.statistics .column h3{font-size:1.1em;}
.statisticsSum  {text-align:center;border-top:1px solid #D6D6D6;border-bottom:1px solid #D6D6D6;padding:20px 0;margin:20px 0;}
.statisticsSum  span{color:#c73030;font-weight:bold;}
.baseSize {text-align:center;color:#c73030;font-weight:bold;padding-bottom:10px;}

.userstop td, .pm td.pm_list, .pm td.pm_head {border:1px solid #d8d8d8;padding:2px;background-color:#fff;}
.userstop thead td, .pm td.pm_head {font-size:0.9em;background:#eee;height:22px;padding:0;font-weight:bold; text-align:center;color:#4e4e4e;}

/* персональные сообщения */
.pmMenu {text-align:center;padding:0 0 15px 0;font-weight:bold;}
.pmList {margin:0 10px 0 23px;}
.pm_head {font-weight:bold;}

/* страница пользователя */
.user, .userContact {overflow:hidden;border-bottom:1px solid #D6D6D6;padding-bottom:20px;margin-bottom:20px;}
.user .userAvatar {float:left;margin:0 20px 0 0;}
.user .userInfo {overflow:hidden;}
.userAvatar .rating{display:block !important;margin:5px 0 0 15px;}

.userColumn h3{font-size:1.1em;}
.userColumn{float:left;width:50%;}


/* THE END */